# Entorno virtual
codelab1/.venv/
codelab4/venv/
codelab6/venv2/

# Variables de entorno
codelab1/.env

# Archivos comunes a ignorar
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos temporales
*.log

codelab6/yolov8n.pt

